<section class="px-viewport-inline-padding py-10">
    <a title="Go back" routerLink="/" aria-label="Go back" class="btn btn-sm gap-3 text-clr-text shadow-md drop-shadow-md border-none bg-clr-primary px-8 py-2 min-h-fit h-fit capitalize">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
        </svg>
        <span aria-hidden="true">Back</span>
    </a>
</section>
<section *ngIf="country" class="grid gap-10 auto-rows-min grid-cols-auto-fit-250 px-viewport-inline-padding py-10">
    <div class="max-h-72 max-w-full aspect-square mx-auto">
        <img src="{{country.flags.png}}" srcset="{{country.flags.svg}}" class="h-full object-cover w-full" alt="Flag of {{country.name.official}}">
    </div>
    <div class="space-y-5">
        <h1 class="font-extrabold text-xl">{{country.name.common}}</h1>
        <div class="text-sm grid auto-rows-min grid-cols-auto-fit-250 gap-8 gap-y-11">
            <div class="flex flex-col gap-2 flex-1">
                <span><strong class="font-semibold">Native Name:</strong> {{country.name.nativeName.common}}</span>
                <span><strong class="font-semibold">Population:</strong> {{country.population.toLocaleString()}}</span>
                <span><strong class="font-semibold">Region:</strong> {{country.region}}</span>
                <span><strong class="font-semibold">Sub Region:</strong> {{country.subregion}}</span>
                <span><strong class="font-semibold">Capital:</strong> {{country.capital.join(', ')}}</span>
            </div>
            <div class="flex flex-col gap-2 flex-1">
                <span><strong class="font-semibold">Top Level Domain:</strong> {{country.tld.join(', ')}}</span>
                <span><strong class="font-semibold">Currencies:</strong> {{country.currencies.join(', ')}}</span>
                <span><strong class="font-semibold">Languages:</strong> {{country.languages.join(', ')}}</span>
            </div>
        </div>
        <div class="pt-9 flex flex-wrap gap-3 items-center">
            <span class="whitespace-nowrap"><strong class="font-semibold">Border Countries:</strong></span>
            <a *ngFor="let name of country.borders" [title]="name + ' details'" [routerLink]="['/country/code', name]" class="btn gap-3 text-xs btn-sm text-clr-text shadow-md drop-shadow-md border-none bg-clr-primary px-10">
                {{name}}
            </a>
            <span *ngIf="country.borders.length === 0" class="whitespace-nowrap">No border countries</span>
        </div>
    </div>
</section>
